# Package Manager
bower_components/
node_modules/
npm-debug.log*
vendor/
package-lock.json
yarn-error.log
yarn.lock

# Development
.eslintcache

# Project specific
*.exe
*.map
*.nsi
test.js
test.ts
todo.md