# Folders
.circleci/
.editorconfig
src/
test/
types/

# Development
.eslintcache

# Files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json

# Project specific
*.exe
*.nsi
test.js
test.ts
todo.md
